// Create: src/quasar-variables.sass

$primary   : #0e7f13
$secondary : #2e2d2d
$accent    : #ececec

$dark      : #1D1D1D

$typography-font-family: 'Poppins', sans-serif
$positive  : #9bba21
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037